<%-include('header')%>

<main id="main" class="main">

  <form class="row g-3 needs-validation" novalidate action="/admin/register" method="post">
    <div class="col-12">
      <label for="yourName" class="form-label">Your Name</label>
      <input type="text" name="name" class="form-control" id="yourName" required>
      <div class="invalid-feedback">Please, enter your name!</div>
    </div>
  
    <div class="col-12">
      <label for="yourEmail" class="form-label">Your Email</label>
      <input type="email" name="email" class="form-control" id="yourEmail" required>
      <div class="invalid-feedback">Please enter a valid Email adddress!</div>
    </div>
  
    <div class="col-12">
      <label for="yourPassword" class="form-label">Password</label>
      <input type="password" name="pass" class="form-control" id="yourPassword" required>
      <div class="invalid-feedback">Please enter your password!</div>
    </div>
  
    <div class="col-12">
      <button class="btn btn-primary w-100" type="submit">Create Account</button>
    </div>
  </form>

  </main><!-- End #main -->

<%-include('footer')%>